@use 'sass:color';

// Міксіни - шаблони коду які підмішуємо в кілька інших класів
@mixin btn($bg-color: #e2e2e2) {
	border:0;
	text-decoration: none;
	cursor: pointer;

	background-color: $bg-color;
	border-radius: $base-border-radius;

	padding: $base-padding $base-padding*1.5;
	margin: 0 $base-margin;
}

.btn {
	@include btn;
}


// Цикли each вибирають елементи послідовності і щось над ними виконують
@each $key, $value in $colors {
	//  .btn-purple, .btn-white, ...
	.btn-#{$key} {
		@include btn($value);

		// Умовні оператори IF
		// @if ($value == #000) {
		// 	color: map-get($colors, "white")
		// }

		@if (color.blackness($value) > 30){
			color: map-get($colors, "white")
		}

		// Effect hover
		&:hover {
			background-color: lighten($value, 20%);

			// Для кнопок зі світлим фоном
			@if (color.blackness($value) < 10){
			   background-color: darken($value, 20%);
		}
		}
	}

}