* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-color1 {
    background-color: gray;
    padding-top: 50px;     
    padding-bottom: 100px; 
}    
    


.h1 {
    text-align: center;
    margin-top: 0;
}    
    

.form-row {
  display: flex;
  justify-content: center; 
  gap: 30px;               
  margin-top: 40px;
}

.inputName {
  width: 200px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
}  
  


.button {
  width: 100px;
  height: 35px;
  border-radius: 5px;
}

.inputNumber {
  width: 200px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
}

.inputId {
  width: 200px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
}


.pop-up_messages {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: greenyellow;
  width: 350px;
  height: 100px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  z-index: 1000;
}
